@charset "UTF-8";
/* CSS Document */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ********** BEGIN - GLOBALS ************************************************************************* */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////// */

/* ********** BEGIN - TAG *************************** */

/* ////////////////////////////////////////////////// */

/*
 
     =====================
     .....................
     ... .................
     .. + ................
     ... ...... ..........
     ......... ^ .........
     .......... ..........
     ......... ^ .........          
     ........ ^^^ ........
     ....... ^^^^^ .......
     ...... ^^^^^^^ ......
     ..... ^^^^^^^^^ .....     
     =====================
     SIMON CORRY BA(HONS.)
     SCIENCE 'N CREATIVITY
     =====================
          
     http://simoncorry.com
               
*/

/* ////////////////////////////////////////////////// */

/* ********** END - TAG ***************************** */

/* ////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////// */

/* ********** BEGIN - BODY ************************** */

/* ////////////////////////////////////////////////// */

* {margin:0; padding:0;}

html,
body {
    background:#ccc8bd url('/_media/images/bg/bg.jpg') repeat;
    margin:0px;
    padding:0px;
    height:auto;
    -webkit-tap-highlight-color:rgba(0,0,0,0); 
}

img {border:none; outline:none; border-style:none;}

a img {
    border:none;
    border-style:none;
    outline:none;
    opacity:1.0;    
    -webkit-transition:all 0.4s ease-in-out;
    -khtml-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

a:hover img {
    border:none;
    border-style:none;
    outline:none;
    opacity:0.6;
    -webkit-opacity:0.6;
    -moz-opacity:0.6;
    -o-opacity:0.6;
}

a:focus,a:active {outline:none;}

::-moz-selection{background:#8AB29F; color:#F2EFDF; text-shadow:none;}
::selection {background:#8AB29F; color:#F2EFDF; text-shadow:none;}
a:link {-webkit-tap-highlight-color:#8AB29F;}

/* ////////////////////////////////////////////////// */

/* ********** END - BODY **************************** */

/* ////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ********** END - GLOBALS *************************************************************************** */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ********** BEGIN - FONTS *************************************************************************** */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////// */

/* ********** BEGIN - ALLER DISPLAY ***************** */

/* ////////////////////////////////////////////////// */

/* /// CONVERTED USING THE AWESOME FONT SQUIRREL (http://www.fontsquirrel.com) /// */

@font-face {font-family:'AllerDisplay';
    src:url('/_media/fonts/aller-display-webfont.eot');
    src:url('/_media/fonts/aller-display-webfont.eot?#iefix') format('embedded-opentype'),
        url('/_media/fonts/aller-display-webfont.woff') format('woff'),
        url('/_media/fonts/aller-display-webfont.ttf') format('truetype'),
        url('/_media/fonts/aller-display-webfont.svg#AllerDisplayRegular') format('svg');
    font-weight:normal;
    font-style:normal;
}

/* ////////////////////////////////////////////////// */

/* ********** END - ALLER DISPLAY ******************* */

/* ////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ********** END - FONTS ***************************************************************************** */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ********** BEGIN - STYLES ************************************************************************** */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////// */

/* ********** BEGIN - CONTENT *********************** */

/* ////////////////////////////////////////////////// */

.content-style {
    font:9px/7px 'AllerDisplay', Arial, Helvetica, sans-serif;
    color:#F2EFDF;
    text-transform:uppercase;
}

.content-style h1 {    
    font:16px/14px 'AllerDisplay', Arial, Helvetica, sans-serif;
    color:#F2EFDF;
    text-transform:uppercase;}

.content-style h2 {
    font:14px/12px 'AllerDisplay', Arial, Helvetica, sans-serif;
    color:#F2EFDF;
    text-transform:uppercase;
}

.content-style p {
    font:9px/6px 'AllerDisplay', Arial, Helvetica, sans-serif;
    color:#F2EFDF;
    text-transform:uppercase;
}

.content-style a img {border-bottom:none;}

/* ////////////////////////////////////////////////// */

/* ********** END - CONTENT ************************* */

/* ////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////// */

/* ********** BEGIN - ERROR ************************* */

/* ////////////////////////////////////////////////// */


.error-style {
    font:16px/14px 'AllerDisplay', Arial, Helvetica, sans-serif;
    color:#F2EFDF;
    text-transform:uppercase;
}

.error-style h1 {
    font:32px/32px 'AllerDisplay', Arial, Helvetica, sans-serif;
    color:#F2EFDF;
    text-transform:uppercase;
    padding-top:2px;}

.error-style h2 {
    font:24px/22px 'AllerDisplay', Arial, Helvetica, sans-serif;
    color:#F2EFDF;
    text-transform:uppercase;
    padding-bottom:12px;
}

.error-style p {
    font:16px/17px 'AllerDisplay', Arial, Helvetica, sans-serif;
    color:#F2EFDF;
    text-transform:uppercase;
}

.error-style a {
    font:16px 'AllerDisplay', Arial, Helvetica, sans-serif;
    color:#8AB29F;
    text-transform:uppercase;
    text-decoration:none;    
    -webkit-transition:all 0.4s ease-in-out;
    -khtml-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

.error-style a:hover {
    color:#F2EFDF;
    text-decoration:none;
}

.error-terror {
    color:#999; 
    /* for IE */
    filter:alpha(opacity=100); /* IE 7 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE 8 */
    /* CSS3 standard */  
    -webkit-opacity:0.6;
    -khtml-opacity:0.6;
    -moz-opacity:0.6;
    -o-opacity:0.6;
    opacity:0.6;
}

/* ////////////////////////////////////////////////// */

/* ********** END - ERROR *************************** */

/* ////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ********** END - STYLES **************************************************************************** */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ********** BEGIN - PRELOADER *********************************************************************** */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

#loading-wrapper {   
    z-index:9999999;
    width:100%;
    height:100%;
}

#loading {
    position:absolute;
    top:50%;
    left:50%;
    background-image:url(/_media/images/preloader/squares.gif);
    background-repeat:no-repeat;
    background-color:#F2EFDF;
    width:30px; 
    height:30px;
    margin-left:-15px;
    margin-top:-15px; 
    box-shadow:0px 0px 4px #999999;
    -moz-box-shadow:0px 0px 4px #999999;
    -webkit-box-shadow:0px 0px 4px #999999;
    -o-box-shadow:0px 0px 4px #999999;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ********** END - PRELOADER ************************************************************************* */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ********** BEGIN - PRELOAD ************************************************************************* */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

#preload { 
    position:absolute;
    bottom:-100px;
    background-image:url(/_media/images/preloader/squares.gif), url(/_media/images/bg/bg.jpg), url(/_media/images/nav/up-icon.png), url(/_media/images/share/facebook-icon.png), url(/_media/images/share/twitter-icon.png), url(/_media/images/lifestream/twitter-icon-tall.png), url(/_media/images/lifestream/googleplus-icon-tall.png), url(/_media/images/lifestream/bitly-icon-tall.png), url(/_media/images/lifestream/delicious-icon-tall.png), url(/_media/images/lifestream/dribbble-icon-tall.png), url(/_media/images/lifestream/forrst-icon-tall.png), url(/_media/images/lifestream/github-icon-tall.png), url(/_media/images/lifestream/tumblr-icon-tall.png), url(/_media/images/lifestream/vimeo-icon-tall.png), url(/_media/images/lifestream/youtube-icon-tall.png), url(/_media/images/portfolio/client-btn.png), url(/_media/images/portfolio/info-btn.png), url(/_media/images/portfolio/plus-btn.png), url(/_media/images/portfolio/spacer.png) ; 
    display:inline; 
    width:0px;
    height:0px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ********** END - PRELOAD *************************************************************************** */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ********** BEGIN - WRAPPER / CONTENT *************************************************************** */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

#wrapper { 
    background:transparent;
    width:100%;
    min-width:980px;
    height:100%;
    min-height:700px;
    padding:0px;
    margin:0px;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjYzhiZCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iIzk4OWQ5YyIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTAlIiBzdG9wLWNvbG9yPSIjOTg5ZDljIiBzdG9wLW9wYWNpdHk9IjAuMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjY2NjOGJkIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background:-moz-linear-gradient(left, rgba(204,200,189,0) 0%, rgba(152,157,156,0.1) 10%, rgba(152,157,156,0.1) 90%, rgba(204,200,189,0) 100%); /* FF3.6+ */
    background:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(204,200,189,0)), color-stop(10%,rgba(152,157,156,0.1)), color-stop(90%,rgba(152,157,156,0.1)), color-stop(100%,rgba(204,200,189,0))); /* Chrome,Safari4+ */
    background:-webkit-linear-gradient(left, rgba(204,200,189,0) 0%,rgba(152,157,156,0.1) 10%,rgba(152,157,156,0.1) 90%,rgba(204,200,189,0) 100%); /* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(left, rgba(204,200,189,0) 0%,rgba(152,157,156,0.1) 10%,rgba(152,157,156,0.1) 90%,rgba(204,200,189,0) 100%); /* Opera 11.10+ */
    background:-ms-linear-gradient(left, rgba(204,200,189,0) 0%,rgba(152,157,156,0.1) 10%,rgba(152,157,156,0.1) 90%,rgba(204,200,189,0) 100%); /* IE10+ */
    background:linear-gradient(left, rgba(204,200,189,0) 0%,rgba(152,157,156,0.1) 10%,rgba(152,157,156,0.1) 90%,rgba(204,200,189,0) 100%); /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ccc8bd', endColorstr='#00ccc8bd',GradientType=1 ); /* IE6-8 */
    width:auto;
    height:auto;
    margin-bottom:90px;
}

#content {   
    background:transparent;
    width:auto;
    height:auto;   
    padding:142px 40px 80px 40px;
    -webkit-transition:all 0.4s ease-in-out;
    -khtml-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

.content-active {
    -webkit-transform:translate(0px,-126px);    
    -moz-transform:translate(0px,-126px); 
    -ms-transform:translate(0px,-126px);
    -o-transform:translate(0px,-126px);
    transform:translate(0px,-126px);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ********** END - WRAPPER / CONTENT ***************************************************************** */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ********** BEGIN - TOOL BELT *********************************************************************** */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

.hr {
    width:100%;   
    border-left:1px solid rgba(50,50,50,0.1);
    border-right:1px solid rgba(50,50,50,0.1);
    border-top:1px solid rgba(50,50,50,0.1);
    border-bottom:1px solid rgba(250,250,250,0.1);
    margin:10px 0px 10px 0px;
    overflow:hidden;
}

.hr-top {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iIzc4Nzg3OCIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTAlIiBzdG9wLWNvbG9yPSIjNzg3ODc4IiBzdG9wLW9wYWNpdHk9IjAuMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background:-moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(50,50,50,0.1) 10%, rgba(50,50,50,0.1) 90%, rgba(255,255,255,0) 100%); 
    /* FF3.6+ */
    background:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(10%,rgba(50,50,50,0.1)), color-stop(90%,rgba(50,50,50,0.1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(50,50,50,0.1) 10%,rgba(50,50,50,0.1) 90%,rgba(255,255,255,0) 100%); 
    /* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(50,50,50,0.1) 10%,rgba(50,50,50,0.1) 90%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background:-ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(50,50,50,0.1) 10%,rgba(50,50,50,0.1) 90%,rgba(255,255,255,0) 100%); /* IE10+ */
    background:linear-gradient(left, rgba(255,255,255,0) 0%,rgba(50,50,50,0.1) 10%,rgba(50,50,50,0.1) 90%,rgba(255,255,255,0) 100%); /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-8 */
    height:1px;
    margin:10px 0px 0px 0px;
}

.hr-bottom {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iIzc4Nzg3OCIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTAlIiBzdG9wLWNvbG9yPSIjNzg3ODc4IiBzdG9wLW9wYWNpdHk9IjAuMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background:-moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(250,250,250,0.1) 10%, rgba(250,250,250,0.1) 90%, rgba(255,255,255,0) 100%); 
    /* FF3.6+ */
    background:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(10%,rgba(250,250,250,0.1)), color-stop(90%,rgba(250,250,250,0.1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(250,250,250,0.1) 10%,rgba(250,250,250,0.1) 90%,rgba(255,255,255,0) 100%); 
    /* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(250,250,250,0.1) 10%,rgba(250,250,250,0.1) 90%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background:-ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(250,250,250,0.1) 10%,rgba(250,250,250,0.1) 90%,rgba(255,255,255,0) 100%); /* IE10+ */
    background:linear-gradient(left, rgba(255,255,255,0) 0%,rgba(250,250,250,0.1) 10%,rgba(250,250,250,0.1) 90%,rgba(255,255,255,0) 100%); /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-8 */
    height:1px;
    margin:0px 0px 10px 0px;
}

.spacer { 
    width:auto; 
    height:auto; 
    padding:20px 0px 20px 0px;
}


.clearfix:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ********** END - TOOL BELT ************************************************************************* */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ********** BEGIN - HTML5 TAGS ********************************************************************** */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

header, section, footer,
aside, nav, article, figure {display:block;}

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ********** END - HTML5 TAGS ************************************************************************ */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */