/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ********** BEGIN - GLOBALS ************************************************************************* */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////// */

/* ********** BEGIN - TAG *************************** */

/* ////////////////////////////////////////////////// */

/*
 
     =====================
     .....................
     ... .................
     .. + ................
     ... ...... ..........
     ......... ^ .........
     .......... ..........
     ......... ^ .........          
     ........ ^^^ ........
     ....... ^^^^^ .......
     ...... ^^^^^^^ ......
     ..... ^^^^^^^^^ .....     
     =====================
     SIMON CORRY BA(HONS.)
     SCIENCE 'N CREATIVITY
     =====================
          
     http://simoncorry.com
               
*/

/* ////////////////////////////////////////////////// */

/* ********** END - TAG ***************************** */

/* ////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ********** END - GLOBALS *************************************************************************** */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ********** BEGIN - ERROR *************************************************************************** */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////// */

/* ********** BEGIN - WRAPPER / CONTENT ************* */

/* ////////////////////////////////////////////////// */

#error-wrapper {}

#error-wrapper h1 {
    font:28px/28px 'AllerDisplay', Arial, Helvetica, sans-serif;
    color:#81848d;
    text-align:left;
    text-transform:uppercase;
    text-shadow:1px 1px 0px #F2EFDF;
    filter:dropshadow(color=#F2EFDF, offx=1, offy=1);
}

#error-content {}

/* ////////////////////////////////////////////////// */

/* ********** END - WRAPPER / CONTENT *************** */

/* ////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ********** END - ERROR ***************************************************************************** */

/* //////////////////////////////////////////////////////////////////////////////////////////////////// */