@charset "UTF-8";

/* Default Settings */

.tooltip::before,
.tooltip::after {
z-index:999999; 
    position:absolute;
    opacity:0;
    visibility:hidden;
    pointer-events:none;
    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
            user-select:none;
    -webkit-transform:translate3d(-6px,0,0);
    	    transform:translate3d(-6px,0,0);
    -webkit-transition:-webkit-transform 0.5s 0.0s ease-in-out,
                       opacity           0.5s 0.0s ease-in-out,
                       visibility        0.5s 0.0s ease-in-out;
    	    transition:transform         0.5s 0.0s ease-in-out,
    	               opacity           0.5s 0.0s ease-in-out,
    	               visibility        0.5s 0.0s ease-in-out; 
}
.no-touch .tooltip:hover::before,
.no-touch .tooltip:hover::after {
    opacity:1;
    visibility:visible;
    -webkit-transform:translate3d(0,0,0);
    	    transform:translate3d(0,0,0);
    -webkit-transition-delay:0.5s;
            transition-delay:0.5s;
}
.btn_active.tooltip::before,
.btn_active.tooltip::after {
    opacity:0 !important;
    visibility:hidden !important;
    -webkit-transform:translate3d(0,-6px,0) !important;
    	    transform:translate3d(0,-6px,0) !important;
    -webkit-transition-delay:0.0s !important;
            transition-delay:0.0s !important;
}
.tooltip::before {
    z-index:999999; 
    content:'';
}
.tooltip::after  {
    z-index:999998;
    background-color:rgb(229,225,214);
    padding:0 15px;
    border:2px solid rgb(242,239,223);
    box-shadow:1px 1px 0 rgb(135,140,149);
    content:attr(data-tooltip);
    white-space:nowrap;
    /* Text */
    font-size:1.25rem;
    font-weight:400;
    text-indent:0;
    color:rgb(64,67,69) !important;
    text-shadow:1px 1px 0 rgba(242,239,223,0.75);
    text-decoration:none !important;
}


/* Header */

.tooltip_header::before {
    top:11px; left:-10px;
    border-left:  5px solid rgb(242,239,223);
	border-top:   4px solid transparent;
	border-bottom:4px solid transparent;
}
.tooltip_header::after {top:0; right:40px;}


/* Nav */

.tooltip_nav::before {display:none;}
.tooltip_nav::after {
    bottom:-40px; left:10px;
    padding:1px 10px;
    width:110px;
    -webkit-transform:translate3d(0,-6px,0);
    	    transform:translate3d(0,-6px,0);
    /* Text */
    font-size:1.3rem;
}

.no-touch .tooltip_nav:hover::after {
    -webkit-transition-delay:0.8s;
            transition-delay:0.8s;
}


/* RESPONSIVE ADJUSTMENTS */

@media only screen 
and (max-width : 747px) {
    
    /* Nav */
    .tooltip_nav::after {display:none;}
    
}