@charset "UTF-8";


/* Standard Buttons */

.button {
    position:relative;
    display:block;
    background:rgb(124,127,129);
    width:100%;
    max-width:400px;
    height:40px;
    border:1px solid rgb(109,112,114);
    border-radius:3px;
    box-shadow:none;
    margin:0 auto;
    cursor:pointer;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
    -webkit-transition:background-color 0.2s ease-in-out,
                       box-shadow       0.2s ease-in-out,
                       border-radius    0.2s ease-in-out,
                       border           0.2s ease-in-out; 
            transition:background-color 0.2s ease-in-out,
                       box-shadow       0.2s ease-in-out,
                       border-radius    0.2s ease-in-out,
                       border           0.2s ease-in-out;
    /* Text */
    font-family:'BrandonGrotesque-Medium';
    font-size:1.2rem;
    line-height:normal;
    color:rgb(255,255,255);
    text-shadow:1px 1px rgba(109,112,114,0.75);
    text-transform:uppercase;
}

html.no-touch .button:hover {
    background:rgb(154,157,159);
    border-color:rgb(129,132,134);
}
input .button:focus {border-color:rgb(69,62,64);}


/* Anchor Buttons */

a.button {padding-top:13px;}
a.button:hover {color:rgb(255,255,255);}


/* Width and Height */

.button.width_100 {width:100%;}

.button.margin_bottom_40 {margin-bottom:40px;}


/* Disabled */

.button_disabled {opacity:0.3;}


/* Loading */

.button.loading,
input[type="submit"].loading {
    min-width:140px;
    padding:0;
    pointer-events:none;
    text-indent:-999999px;
}

.button.loading::before,
.button.loading::after,
input[type="submit"].loading::before,
input[type="submit"].loading::after {
    position:absolute;
    top:50%;
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
            box-sizing:border-box;
}

.button.loading::before {
    left:50%;
    margin-left:-43px;
    margin-top:-6px;
    content:'Loading';
    text-indent:0;
}

.button.loading::after {
    right:50%;
    background:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjQgNCA0MCA0MCI+PGcgaWQ9IkxheWVyXzEiPjwvZz48ZyBpZD0iTGF5ZXJfMiI+PGc+PHBhdGggb3BhY2l0eT0iMC4zIiBmaWxsPSIjRkZGRkZGIiBkPSJNNDQsMjRjMC0xMS05LTIwLTIwLTIwQzEzLDQsNCwxMyw0LDI0YzAsMTEsOSwyMCwyMCwyMEMzNSw0NCw0NCwzNSw0NCwyNHogTTgsMjRjMC04LjgsNy4yLTE2LDE2LTE2czE2LDcuMiwxNiwxNnMtNy4yLDE2LTE2LDE2UzgsMzIuOCw4LDI0eiIvPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik00NCwyNGMwLTExLTktMjAtMjAtMjB2NGM4LjgsMCwxNiw3LjIsMTYsMTZINDR6Ii8+PC9nPjwvZz48L3N2Zz4=') center center no-repeat;
    background-size:14px;
    height:14px;
    width:14px;
    margin-right:-46px;
    margin-top:-7px;
    content:'';
    -webkit-animation:button_loading linear 0.5s infinite;
            animation:button_loading linear 0.5s infinite;
}

@-webkit-keyframes button_loading {
    0%   {-webkit-transform:rotate3d(0,0,1,1deg);}
    50%  {-webkit-transform:rotate3d(0,0,1,180deg);}
    100% {-webkit-transform:rotate3d(0,0,1,360deg);}
}

@keyframes button_loading {
    0%   {transform:rotate3d(0,0,1,1deg);}
    50%  {transform:rotate3d(0,0,1,180deg);}
    100% {transform:rotate3d(0,0,1,360deg);}
}