@charset "UTF-8";


/* Sections */

.section {
    z-index:2;
    position:absolute;
    top:50%; left:0;
    position:relative;
    width:100%;
    margin-top:-176.5px;
}

.section_wrapper {
    width:100%;
    max-width:580px;
    height:100%;
    padding:0 30px;
    margin:0 auto; 
}


/* RESPONSIVE ADJUSTMENTS */

@media only screen 
and (max-width : 747px) {

    /* Sections */
    .section {
        position:relative;
        top:0;
        padding-top:40px;
        margin-top:0;
    }
    
}

@media only screen 
and (max-width : 415px) {
    
    /* Sections */
    .section {padding-top:20px;}
    .section_wrapper {padding:0 10px;}
    
}