@charset "UTF-8";

/* See http://bit.ly/1eMgki5 for advice regarding REM units */

html {font-size:62.5% !important;}

body {
    font-family:'Inconsolata',sans-serif;
    font-style:normal;
    font-weight:400;
    font-size:1.8rem;
    line-height:2.6rem;
    letter-spacing:1px;
    text-align:center;
    color:rgb(64,67,69);
    text-shadow:1px 1px 0 rgba(242,239,223,0.75);
    -webkit-font-smoothing:antialiased;
}

h1,h2,h3,h4,p {max-width:400px; margin:0 auto;}


/* Headers */

h1 {
    font-family:'BrandonGrotesque-Medium';
    font-size:2.6rem;
    color:rgb(186,94,42);
    text-shadow:1px 1px 0 rgba(242,239,223,0.75);
    text-transform:uppercase;
    letter-spacing:0;
    font-weight:normal;
}

h2 {
    font-size:1.5rem;
    line-height:2.2rem;
    font-weight:400;
}

h3 {
    font-family:'BrandonGrotesque-Medium';
    font-size:1.5rem;
    color:rgb(186,94,42);
    text-shadow:1px 1px 0 rgba(242,239,223,0.75);
    text-transform:uppercase;
    letter-spacing:0;
    font-weight:normal;
}

h3 a {color:rgb(186,94,42); border:none;}
html.no-touch h3 a:hover {color:rgb(234,111,50); border:none;}

/* Links */

a {
    color:rgb(80,117,160);
    font-weight:400;
    text-decoration:none;
    -webkit-transition:border-color 0.2s ease-in-out,
                              color 0.2s ease-in-out;
    	    transition:border-color 0.2s ease-in-out,
    	                      color 0.2s ease-in-out;
}

a:hover {color:rgb(85,151,206);}


/* Body */

strong,b {font-weight:700;}

.slash {
    padding:0 4px;
    color:rgb(184,187,189);
}

/* Projects */

.project_details {
    font-size:1.3rem;
    line-height:2.0rem;
    text-transform:uppercase;
    color:rgb(104,107,109);
    padding-top:20px;
}


/* RESPONSIVE ADJUSTMENTS */

@media only screen 
and (max-width : 415px) {

    body {font-size:1.6rem; line-height:2.4rem;}
    
    /* Headers */
    h1 {font-size:2.1rem;}
    h2 {font-size:1.4rem; line-height:2.1rem;}
    
}